.footer{
    clear: both;
    background-color: #333;
    height: 250px;
    /* margin: 0 auto; */
    font-size: 14px;
    width: 90%;
    /* margin: 10px 0 0 0; */
    margin: 30px auto;
}
.footerleft{
	float: left;
	height: 230px;
	margin-top:15px;
	margin-left:50px;
	color:white;
}
.footercenter{
	color:white;
	float: left;
	margin-left: 200px;
	margin-top: 15px;
}
.footerslogan{
	text-align: center;
	margin-top: 25px;
}
.footermap{
	float:left;
	margin:15px 50px 0 60px;
}