* {
	margin: 0px; padding: 0px;
	font-family: cursive,Calibri,sans-serif;
}
.top{
	background-color: #555;
	overflow: hidden;
	height: 60px;
}
.topleft input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 17px;
    border: 1px solid #555;
}
.topleft a {
    float: left;
    text-align: center; 
    width: auto; 
    padding: 6px;
    transition: all 0.3s ease; 
    color: white; 
    font-size: 17px; 
    margin-top: 8px;
    border: 1px solid #555;
}
.topright {
    float: right;
    padding: 8px 40px 8px 0px;
    border: 1px solid #555;
}
/*Login form*/
